#content
  - @movies.each do |movie|
    .movie
      %strong= "#{movie.title} "
      = " upvotes: #{movie.upvotes} downvotes: #{movie.downvotes}"
      = link_to "Show", movie
      = link_to "Edit", edit_movie_path(movie)
      = link_to "Delete", movie, data: { :confirm => 'Are you sure?'}, :method => :delete
  %h2
    = link_to "Create a new movie", new_movie_path
