%h2 Show page for movie
%br/ 
Title: #{@movie.title}
%br/ 
Description: #{@movie.description}
%br/ 
Cast: #{@movie.cast}
%br/ 
Language: #{@movie.language}
%br/
- if Vote.where(movie_id: @movie, user_id: current_user).count > 0
  = link_to "upvote", upvote_path(@movie), :method => :patch
  = link_to "downvote", downvote_path(@movie), :method => :patch
%br/
%br/
- unless @movie.comments.empty?
  %strong Comments:
  %br/
  - @movie.comments.each do |comment|
    %strong= comment.user.name
    wrote: 
    = comment.desc
    - if current_user == comment.user
      = link_to "edit", edit_movie_comment_path(@movie,comment) 
      = link_to "delete", movie_comment_path(@movie,comment), data: { :confirm => 'Are you sure?'}, :method => :delete
    %br/
= link_to "Create a new comment", new_movie_comment_path(@movie.id) if user_signed_in?
%br/ 
%h3= link_to "Back to all movies", root_path